Source: cod5
Section: unknown
Priority: EXTRA
Maintainer: Jean-Marc Lienher <jean-marc.lienher@bluewin.ch>
Uploaders: Jean-Marc Lienher <jean-marc.lienher@bluewin.ch>
Build-Depends: debhelper (>=9), 
Standards-Version: 3.9.4
Homepage: http://www.cod5.org/

Package: cod5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The public domain C++ compiler 
 cod5 is a C++ pre-processor. It will be a full C++ compiler in the future.
 . 
 The command line tool name is "cxx".
 .
 cod5 was written from scratch in C++11.

