#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# Rational http://www.winehq.org/pipermail/wine-bugs/2007-July/062505.html
LDFLAGS = 
CFLAGS = -Wall -g


ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif



ifeq ($(DEB_BUILD_ARCH), amd64)
	# Support for 64-bit windows binaries is disabled for now until
	# Wine can be built with both 64 and 32 bit support
	# CONFFLAGS += --enable-win64

	# We want to ensure we put the 32 bit wine libraries into lib32
	CONFFLAGS += --libdir=\$${prefix}/lib32
endif


config.status: configure
	dh_testdir
	# Add here commands to configure the package.

	CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" ./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info $(CONFFLAGS)


build: build-stamp
build-stamp:  $(QUILT_STAMPFN) config.status
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) depend
	$(MAKE)

	# Make the documentation.  The dh_installdocs command should install them
	# Remember to have the files wine.docs and wine-dev.docs point to any new
	# documentation files made
	# As of 20050524 as the documentation was split into another package
	# and all that's here are the foreign language readmes and the manpages.
	# It should be compiled automatically as the package compiles
	# $(MAKE) -C documentation txt

	touch build-stamp

clean:  unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) distclean
	#-$(MAKE) -C documentation clean

ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif


	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp
	$(MAKE) install prefix=$(CURDIR)/debian/tmp/usr

	# Create a system-wide Wine Applications folder


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	# The changelog was removed upstream in 1.0-rc4 as it was very large
	dh_installchangelogs
	dh_installdocs -a
	dh_installexamples
	dh_install --fail-missing --sourcedir=debian/tmp
	dh_installmime
	dh_installman
	dh_link
	dh_strip -Xwine-pthread -Xwine-kthread
	dh_compress
	dh_fixperms
	dh_icons
	dh_desktop
	dh_makeshlibs
	dh_installdeb
ifeq ($(DEB_BUILD_ARCH), amd64)
	dh_gencontrol -- -V"shlibs:Depends= ia32-libs (>= 1.6), lib32asound2 (>> 1.0.14), libc6-i386 (>= 2.6-1), lib32nss-mdns (>= 0.10-3)"
else
	dh_shlibdeps -L wine -l debian/wine/usr/lib
	dh_gencontrol
endif
	dh_md5sums
	dh_builddeb -- -Z lzma

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
